.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 250px;
  display: inline-grid;
  margin: 15px;
}

.card >.container {
  height: 100px;
  padding: 12px;
}

img {
  border-radius: 5px 5px 0 0;
}
